{% extends 'marg/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'marg/assets/css/blogdetail/style.css' %}" />
{% endblock extra_css %}

{% block content %}
<div class="main-wrapper">
  {% include 'marg/Blog/Blog-Detail/left/BlogTitle.html' %}
  <section class="section blog-wrap bg-gray">
    <div class="container">
      <div class="row">
        {% include 'marg/Blog/Blog-Detail/right/right.html' %}
        {% include 'marg/Blog/Blog-Detail/left/left.html' %}
      </div>
    </div>
  </section>
</div>
{% endblock content %}

{% block extra_js %}

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Waypoints (required for CounterUp) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>

<!-- CounterUp -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>

<!-- Slick Slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<!-- Magnific Popup -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>


<script src="{% static 'marg/assets/js/blogdetail/script.js' %}"></script>



{% endblock extra_js %}
