    <div class="sidebar-widget latest-post card border-0 p-4 mb-3">
      <h5>Latest Posts</h5>

      {% for post in latest_post %}

      <div class="media border-bottom py-3" >
        <a href="{% url 'post-detail' post.pk %}"><img class="mr-4" src="{{ post.featured_image.url }}" alt="" style="height: 100px; width: auto" /></a>
        <div class="media-body">
          <h6 class="my-2"><a href="#">{{ post.title |truncatewords:4 }}</a></h6>
          <span class="text-sm text-muted">{{ post.published_at|date:"jS F, Y" }}</span>
        </div>
      </div>

      {% endfor %}

    </div>