  <!-- Featured Careers -->
  <section class="featured-careers-section">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h3 class="section-title" style="color: black;">Featured careers</h3>
      <a href="{% url 'post-list' %}" class="btn btn-outline-dark">Career Blogs</a>
    </div>


    {% for career in posts %}
    <!-- Career Row 1 -->
    <div class="career-row">
      <div class="career-img">
        <img src="{{ career.featured_image.url }}" alt="{{ career.title }}" />
      </div>
      <div class="career-content">
        <h5>{{ career.title }}</h5>
        <p>
          {{ career.description| striptags | truncatewords:30 }}
        </p>
        <a href="{% url 'post-detail' career.pk %}" class="btn btn-dark">→  More Info</a>
      </div>
    </div>
    {% endfor %}

  </div>
</section>