  {% load static %}
  
  <!-- Hero Section -->
  <header class="hero-section"  style="background-image: url('{% static 'marg/assets/img/HEROO1.png' %}'); background-position : center; background-repeat : no-repeat; ">
    <div class="container">
      <h1 style="font-weight: bold; ">Find your best-fit career in just a few clicks.</h1>
      <h4>Your journey matters. Discover a career that fits not just your skills, but your passion and purpose too.</h4>
      <a href="{% url 'recommend' %}" class="btn btn-warning mt-3">Get Started</a>
    </div>
    <div class="hero-img">
      <img src="{% static 'marg/assets/img/home page ko manxe haru.png' %}" alt="nav image" >
    </div>
  </header>