  {% load static %}
  
  <!-- Hero Section -->
  <header class="hero-section">
    <div class="container">
      <h2>Find your best-fit<br>career in just a few clicks.</h2>
      <p>Your journey matters. Discover a career that fits not just your skills, but your passion and purpose too.</p>
      <a href="#" class="btn btn-warning mt-3">Get Started</a>
    </div>
    <div class="hero-img">
      <img src="{% static 'marg/assets/img/home page ko manxe haru.png' %}" alt="nav image" >
    </div>
  </header>