  <!-- How it works -->
   <h2 class="section-title" style="color: black;">HOW IT WORKS ?</h2>
  <section class="how-it-works py-5 text-center">
  <div class="container">
    <!-- <h3 class="text-white mb-5">How It Works</h3> -->
    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="how-step">
          <div class="icon-circle">
            <img src="https://img.icons8.com/ios-filled/50/000000/login-rounded-right.png" alt="Account Icon" />
          </div>
          <h5>Create an Account</h5>
          <p>Sign up with your email to unlock personalized feature and easily track your progress.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="how-step">
          <div class="icon-circle">
            <img src="https://img.icons8.com/ios-filled/50/000000/help.png" alt="Test Icon" />
          </div>
          <h5>Take the Career Test</h5>
          <p>Take the Career Test: answer a short and simple set of questions.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="how-step">
          <div class="icon-circle">
            <img src="https://img.icons8.com/ios-filled/50/000000/task.png" alt="Report Icon" />
          </div>
          <h5>Get Personalized Results</h5>
          <p>Get career matches tailored to you—with roles, skills and growth paths to find the job meant for you.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="how-step">
          <div class="icon-circle">
            <img src="https://img.icons8.com/ios-filled/50/000000/map.png" alt="Explore Icon" />
          </div>
          <h5>Explore and Plan</h5>
          <p>Review your matches, compare careers and start with courses or resources.</p>
        </div>
      </div>
    </div>
  </div>
</section>