<!-- Success Stats -->
<section class="stats-section py-5" >
  <h2 class="section-title">OUR SUCCESS</h2>
  <div class="container text-center row mx-auto">
    <div class="col-md-3 mb-3">
      <h3 class="counter" data-target="15000">0</h3>
      <p>Students Guided</p>
    </div>
    <div class="col-md-3 mb-3">
      <h3 class="counter" data-target="75">0</h3>
      <p>Accuracy Matched</p>
    </div>
    <div class="col-md-2 mb-3">
      <h3 class="counter" data-target="10">0</h3>
      <p>Expert Mentors</p>
    </div>
    <div class="col-md-2 mb-3">
      <h3 class="counter" data-target="25">0</h3>
      <p>Career Options</p>
    </div>
    <div class="col-md-2 mb-3">
      <h3 class="counter" data-target="1">0</h3>
      <p>Years Experience</p>
    </div>
  </div>
</section>