  <!-- Success Stats -->
  <section class="stats-section py-5">
    <h2>Our success</h2>
    <div class="container text-center row mx-auto">
      <div class="col-md-3 mb-3"><h3>15K+</h3><p>Students Guided</p></div>
      <div class="col-md-3 mb-3"><h3>75%</h3><p>Accuracy Matched</p></div>
      <div class="col-md-2 mb-3"><h3>10</h3><p>Expert Mentors</p></div>
      <div class="col-md-2 mb-3"><h3>25+</h3><p>Career Options</p></div>
      <div class="col-md-2 mb-3"><h3>1+</h3><p>Years Experience</p></div>
    </div>
  </section>