{% extends 'marg/Dashboard/header.html' %}

{% block content %} 

<div class="main-content" id="main-content">
<h2 style="background-color: #cba62c;; text-align: center; color: rgb(0, 0, 0); font-weight: bold; margin-top: -30px; margin-bottom: 50px; border-radius: 50px;">Create/Edit Post</h2>

<form  method="post" class="post-form" enctype="multipart/form-data" >
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Save</button>
</form>
</div>

{% endblock content %}