{% load static %}
<footer>
  <div class="footer-up">
    <div class="footer-up-left">
      <img
        src="/"
        alt="marg logo"
        class="logo"
      />

      <p>
        The Career Recommendation Path System is an intelligent, user-centric
        platform that assists individuals especially students and job seekers in
        identifying and exploring career paths tailored to their unique
        profiles. The system uses data-driven algorithms, psychometric
        assessments, and machine learning techniques to recommend suitable
        career options and the necessary steps to achieve them.
      </p>

      <div class="footer-socials">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </div>
    </div>

    <div class="footer-up-right">
      <div>
        <p>Company</p>
        <ul>
          <li>Home</li>
          <li>Blogs</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>

      <div>
        <p>Support</p>
        <ul>
        <li>FAQ</li>
        <li>support@marg.com</li>
      </ul>
      </div>
    </div>
  </div>

  <div class="footer-down">
    <p>&copy; 2025 Marg. All rights reserved.</p>
  </div>

  <div></div>
</footer>
